@import './vendor/btn.css';
@import './footer.css';
@import './about.css';

* {
    font-family: Helvetica;
}

/** Default props **/
a {
    text-decoration: none;
}

/** Fonts **/
@font-face {
    font-family: Helvetica;
    src: url('../fonts/helvetica/Helvetica.ttf');
}

@font-face {
    font-family: Helvetica-Bold;
    font-weight: 500;
    src: url('../fonts/helvetica/Helvetica-Bold.ttf');
}


/** Button **/
.button {
    padding: 10px;
    border-radius: 6px;
    border-width: 0;
    border-color: unset;
    text-align: center;
    outline: none;
}

/*********************************************************/
/**             Gretting Section                        **/
/*********************************************************/
.gretting {
    background: rgba(21,21,21, 1);
    color: #fff;
}


/*********************************************************/
/**             Navbar Header                          **/
/*********************************************************/
.navbar {
    margin-top: 40px;
}

.phonenumber {
    font-family: Helvetica;
    font-size: 14px
}

/* Icon */
.icon {
    color: #fff;
    font-family: Helvetica;
    margin-left: 16px;
    margin-right: 16px;
}

.icon > svg {
    height: 16px;
    margin-right: 16px;
    margin-left: 16px;
    vertical-align: bottom;
}

.icon > span {
    color: #fff;
    font-size: 14px;
    vertical-align: bottom;
}

/*********************************************************/
/**             Hero Header                          **/
/*********************************************************/
.hero {
    margin-top: 15%;
}

.hero__buttons {
    margin-top: 50px;
    margin-left: 10px;
}

.greet {
    color: #fff;
    font-size: 100px;
    line-height: 1.2em;
}

.greet__name {
    font-size: 100px;
    font-family: Helvetica;
}

/*.gretting {
    color: #fff;
	background-color: #000;
    vertical-align: top !important;
    text-align: unset !important;
}*/


/*********************************************************/
/**             Skill Header                            **/
/*********************************************************/
.skill {
    color: #fff;
    justify-content: center;
    align-items: center;
    background: rgba(21,21,21, 1);
    display: flex;
    padding: 0;
}

.skill__field {
    margin-top: 5%;
}

.skill_name {
    color: #fff;
    font-family: Helvetica;
    font-size: 20px;
    margin-left: 9px;
    margin-bottom: 11px;
}

.skill_name > svg {
    width: 20px;
}

/** Title **/
.title {
    /*text-decoration: underline;*/
    color: #fff;
    font-size: 20px;
    font-family: Helvetica;
    margin-top: 10px;
    text-align: center;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align: unset !important;
}

.fp-tableCell {
    vertical-align: top !important;
}


.fp-bottom {
    text-align: center !important;
}

/* Overwriting styles for the navigation dots (to place it where we want)
* --------------------------------------- */
.fp-slidesNav.bottom{
	bottom: 25px;
}

.fp-sr-only + span {
    background: #fff !important;
}

/** Progress Bar */
.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 30px;
    width: 500px;
}
  
.progress-value-base {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 20px;
    width: 0;
}

.progress-value-50 {
    animation: load-50 3s normal forwards;
}

@keyframes load-50 {
    0% { width: 0; }
    100% { width: 50%; }
}

.progress-value-60 {
    animation: load-60 3s normal forwards;
}

@keyframes load-60 {
    0% { width: 0; }
    100% { width: 60%; }
}

.progress-value-70 {
    animation: load-70 3s normal forwards;
}

@keyframes load-70 {
    0% { width: 0; }
    100% { width: 70%; }
}

.progress-value-80 {
    animation: load-80 3s normal forwards;
}

@keyframes load-80 {
    0% { width: 0; }
    100% { width: 80%; }
}

.progress-value-90 {
    animation: load-80 3s normal forwards;
}

@keyframes load-90 {
    0% { width: 0; }
    100% { width: 90%; }
}

.progress-value-100 {
    animation: load-100 3s normal forwards;
}

@keyframes load-100 {
    0% { width: 0; }
    100% { width: 100%; }
}

.progress-value-85 {
    animation: load-80 3s normal forwards;
}

@keyframes load-85 {
    0% { width: 0; }
    100% { width: 85%; }
}


/** Meida Query **/
@media only screen and (max-width: 768px) {
    .icon > span {
        display: none;
    }

    #hidden-xs {
        display: none;
    }

    .icon {
        margin-left: 10px;
        margin-right: 10px;
    }
}
