@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tahoma';
  src: local('tahoma'), url('../public/fonts/tahoma.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'tahoma';
  src: local('tahoma'), url('../public/fonts/tahomabd.ttf')  format('truetype');
  font-weight: 700;
}

html, body {
  cursor: url("../public/cursors/CursorsXP.cur"), default;
  font-family: 'tahoma';
}

.left-to-right-loading {
  animation: leftToRight 1.5s  infinite;
  animation-timing-function: linear;
  position: absolute;
}


@keyframes leftToRight {
  0%   {transform: translateX(-50px);}
  100%   {transform: translateX(180px);}
}

img{
  pointer-events: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-corner {
  background: #dfdfdf;
}
::-webkit-scrollbar-track:vertical {
  background-image: url("../public/icons/scroll-background.svg");
}
::-webkit-scrollbar-track:horizontal {
  background-image: url("../public/icons/scroll-background-horizontal.svg");
}
::-webkit-scrollbar-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c8d6fb;
  background-size: 7px;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: inset -3px 0 #bad1fc, inset 1px 1px #b7caf5;
}
::-webkit-scrollbar-thumb:vertical {
  background-image: url("../public/icons/scroll-thumb.svg");
}
::-webkit-scrollbar-thumb:horizontal {
  background-size: 8px;
  background-image: url("../public/icons/scroll-thumb-horizontal.svg");
}
::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("../public/icons/scroll-arrow-up.svg");
}
::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("../public/icons/scroll-arrow-down.svg");
}
::-webkit-scrollbar-button:horizontal:start {
  width: 17px;
  background-image: url("../public/icons/scroll-arrow-left.svg");
}
::-webkit-scrollbar-button:horizontal:end {
  width: 17px;
  background-image: url("../public/icons/scroll-arrow-right.svg");
}
