@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tahoma';
  src: local('tahoma'), url('../public/fonts/tahoma.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'tahoma';
  src: local('tahoma'), url('../public/fonts/tahomabd.ttf')  format('truetype');
  font-weight: 700;
}

html, body {
  cursor: url("../public/cursors/CursorsXP.cur"), default;
  font-family: 'tahoma', 'sans-serif';
}

.left-to-right-loading {
  animation: leftToRight 1.5s  infinite;
  animation-timing-function: linear;
  position: absolute;
}


@keyframes leftToRight {
  0%   {transform: translateX(-50px);}
  100%   {transform: translateX(180px);}
}

img{
  pointer-events: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-corner {
  background: #dfdfdf;
}
::-webkit-scrollbar-track:vertical {
  background-image: url("../public/icons/scroll-background.svg");
}
::-webkit-scrollbar-track:horizontal {
  background-image: url("../public/icons/scroll-background-horizontal.svg");
}
::-webkit-scrollbar-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c8d6fb;
  background-size: 7px;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: inset -3px 0 #bad1fc, inset 1px 1px #b7caf5;
}
::-webkit-scrollbar-thumb:vertical {
  background-image: url("../public/icons/scroll-thumb.svg");
}
::-webkit-scrollbar-thumb:horizontal {
  background-size: 8px;
  background-image: url("../public/icons/scroll-thumb-horizontal.svg");
}
::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("../public/icons/scroll-arrow-up.svg");
}
::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("../public/icons/scroll-arrow-down.svg");
}
::-webkit-scrollbar-button:horizontal:start {
  width: 17px;
  background-image: url("../public/icons/scroll-arrow-left.svg");
}
::-webkit-scrollbar-button:horizontal:end {
  width: 17px;
  background-image: url("../public/icons/scroll-arrow-right.svg");
}

/* Range Input */

.po-range {
  background: url("../public/icons/indicator-horizontal.svg");
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: 0;
  border: none;
  transform: rotate(270deg);
  /* height: 100px; */
}

.po-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 21px;
  width: 11px;
  background: url("../public/icons/indicator-rectangle-horizontal.svg");
  transform: translateY(-10px);
}
.po-range::-moz-range-thumb {
  height: 21px;
  width: 11px;
  border: 0;
  border-radius: 0;
  background: url("../public/icons/indicator-rectangle-horizontal.svg");
  transform: translateY(2px);
}
.po-range:hover::-webkit-slider-thumb {
  background: url("../public/icons/indicator-rectangle-horizontal-hover.svg");
}

.po-range::-webkit-slider-runnable-track {
  height: 2px;
  box-sizing: border-box;
  background: #ecebe4;
  border-radius: 2px;
  border-left: 1px solid #f3f2ea;
  border-right: 0;
  border-bottom: 1px solid #f3f2ea;
  box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 #9d9c99, 1px -1px 0 #9d9c99,
      0 -1px 0 #9d9c99, 1px 1px 0 white, -1px -1px #9d9c99;
}

/* .po-range::-webkit-slider-runnable-track {
  height: 2px;
  box-sizing: border-box;
  background: #ecebe4;
  border-radius: 2px;
  border-left: 1px solid #f3f2ea;
  border-right: 0;
  border-bottom: 1px solid #f3f2ea;
  box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 #9d9c99, 1px -1px 0 #9d9c99,
      0 -1px 0 #9d9c99, 1px 1px 0 white, -1px -1px #9d9c99;
} */
/*
.po-range::-moz-range-track {
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  background: #ecebe4;
  border-right: 1px solid #f3f2ea;
  border-bottom: 1px solid #f3f2ea;
  border-radius: 2px;
  box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 #9d9c99, -1px -1px 0 #9d9c99,
      0 -1px 0 #9d9c99, -1px 1px 0 white, 1px -1px #9d9c99;
}
.has-box-indicator::-webkit-slider-thumb {
  background: url("../public/icons/indicator-rectangle-horizontal.svg");
  transform: translateY(-10px);
}
.has-box-indicator::-moz-range-thumb {
  background: url("../public/icons/indicator-rectangle-horizontal.svg");
  transform: translateY(0px);
}
.po-range-vertical::-webkit-slider-runnable-track {
  border-left: 1px solid #f3f2ea;
  border-right: 0;
  border-bottom: 1px solid #f3f2ea;
  box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 #9d9c99, 1px -1px 0 #9d9c99,
      0 -1px 0 #9d9c99, 1px 1px 0 white, -1px -1px #9d9c99;
}
.po-range-vertical::-moz-range-track {
  border-left: 1px solid #f3f2ea;
  border-right: 0;
  border-bottom: 1px solid #f3f2ea;
  box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 #9d9c99, 1px -1px 0 #9d9c99,
      0 -1px 0 #9d9c99, 1px 1px 0 white, -1px -1px #9d9c99;
} */